<div class="p-5 mb-4 bg-light border rounded-3">
    <h1 class="display-5 fw-bold">Seed Searcher</h1>
    <p class=" fs-4">Type: Machine Learning Web App</p>
    <h1 class="fab fa-angular"></h1>
    <hr>
    <p class="fs-4">Seed Searcher is a bird identification web application built with <a
            href="https://www.python.org/">Angular</a> for the frontend and <a
            href="https://wiki.python.org/moin/TkInter">C#</a>/
        <a href="https://opencv.org/">.NET</a> for the backend. It allows users to upload pictures of a bird, and then
        will identify the bird and give the user information about it. Currently Seed Searcher can identify 325
        different species of birds.
    </p>
    <p class="fs-4">SeedSearcher was originally an Android app built with Kotlin for a school project, and could only identify 10 different species. This version has been
        recreated from scratch for the web and has many more features.</p>
    <a class="fab fa-github nav-link btn" href="https://github.com/AdamApplegate/SeedSearcher"
        style="margin-right: 10px; font-size: 16px;"> Source Code</a>
</div>

<div class="p-5 mb-4 border rounded-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="display-6 fw-bold">Summary</h2>
                <h5>Seed Searcher is still currently being built. This page will be updated once SeedSearcher is up! </h5>
                <!-- <h5>This page is currently under construction! Come back later </h5> -->

                <a class="btn" [routerLink]="['/projects']" style="margin-right: 10px; font-size: 16px;">Back</a>
            </div>
        </div>
    </div>