<footer class="text-center text-lg-start footer">
    <hr>
    <div class="text-center" style="padding-top: 10px;">
        <h4>My Links</h4>
        <p>
            <a class="fab fa-linkedin nav-link" style="margin-right: 10px;" href=" https://www.linkedin.com/in/adam-applegate/">
                LinkedIn
            </a>
            <a class="fab fa-github nav-link" style="margin-right: 10px;" href="https://github.com/AdamApplegate"> GitHub
            </a>
        </p>
        © 2021 - Adam Applegate
    </div>
</footer>