.footer {
    display: block;
	background: var(--bg-accent);
	color: white;
	border: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 -3px 0 0 var(--hl-secondary);
    background-color: var(--bg-accent);
}

a {
	color:var(--hl-primary);
}

a:hover {
	color: var(--hl-secondary);
}