<div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/img/me.jpg" style="border-radius: 5px;" class="border">
            </div>
            <div class="col">
                <h1 class="display-5 fw-bold">About Me</h1>
                <p class=" fs-4">
                    I'm Adam, a Software Engineer with a focus in C# and .NET development.
                </p>
                <p class=" fs-4">
                    I've been bringing ideas into reality ever since high school, where I discovered my love for coding.
                </p>
                <p class=" fs-4">
                    To contact me, reach out through LinkedIn. My profile can be found below.
                </p>
                <div class="row d-flex justify-content-center">
                    <a class="fab fa-linkedin nav-link btn" href="https://www.linkedin.com/in/adam-applegate/" style="margin-right: 10px; font-size: 15px;"> LinkedIn</a>
                    <a class=" fab fa-github nav-link btn" href="https://github.com/AdamApplegate" style="margin-right: 10px; font-size: 15px;"> Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
