/* Primary Color Palette */
:root {
    /* Main Colors */
    --bg-primary: #2B59C3;
    --bg-secondary: #253C78;
    --bg-accent: #131F3E;

    /* Highlight Colors */
    --hl-primary: #F2D418;
    --hl-secondary: #EBA00A;

    /* Text Colors */
}

body {
    font-family: 'Cabin', sans-serif;
}

.bg-light-theme {
    display: block;
	/* width: 140px;
	height: 40px; */
	background: var(--bg-primary);
	box-shadow: 0 3px 0 0 var(--hl-secondary);
	color: whitesmoke;
	border: 0;
	transition: all 0.3s ease-in-out;
	/* font-size: 14px; */
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: var(--hl-primary);
	color: black;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 var(--hl-secondary);
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
    color: white;
	background: var(--hl-secondary);
	box-shadow: 0 3px 0 0 var(--hl-primary);
}

.link {
	text-align: center;
	display: block;
	width: 100px;
	height: 40px;
	background: var(--bg-secondary);
	color: white;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 var(--hl-secondary);
	transition: all 0.3s ease-in-out;
	font-size: 14px;
	margin-right: 10px;
}

.link:hover {
	color: white;
	background: var(--hl-secondary);
	box-shadow: 0 3px 0 0 var(--hl-primary);
}

.link:active {
	color: white;
	background: var(--hl-primary);
	box-shadow: 0 3px 0 0 var(--hl-primary);
}