<div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/img/me.jpg" style="border-radius: 5px;" class="border">
            </div>
            <div class="col">
                <h1 class="display-5 fw-bold">Hi, I'm Adam!</h1>
                <p class=" fs-4">
                    I'm a Software Engineer with a focus in C# and .NET development.
                </p>
                <p class=" fs-4">
                    I do all sorts of things with C# and .NET, including Web Development with Angular and TypeScript. I
                    prefer to work on the backend, but have worked on the front as well.
                </p>
                <p class=" fs-4">
                    I've had experience developing in many languages. Check out some of my projects below!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem; margin-right: 10px">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body text-center">
            <h5 class="card-title">Seed Searcher</h5>
            <h2 class="fab fa-angular"></h2>
            <p class="card-text">An Angular/ C# web app that uses machine learning to help users identify birds in their pictures.</p>
        </div>
        <div class="card-body d-flex justify-content-center">
            <a href="#" class="btn">Check it out</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-right: 10px">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body text-center">
            <h5 class="card-title">Filter Free</h5>
            <h2 class="fab fa-python"></h2>
            <p class="card-text">A Python/ OpenCV project that allows users to apply filters and edit their photos.</p>
        </div>
        <div class="card-body d-flex justify-content-center">
            <a href="#" class="btn">Check it out</a>
        </div>
    </div>
</div>